123/1213/flows (3).json
[{"id":"4914f75c.920ce8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9903755.5f48588","type":"debug","z":"4914f75c.920ce8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":480,"wires":[]},{"id":"b8381f1d.7b9dd","type":"function","z":"4914f75c.920ce8","name":"INSERT azure","func":"var test;\nvar test2;\ntest= msg.payload[0]\ntest2=msg.payload[1]\nmsg.topic=\"INSERT INTO stg_IoT_HourlyData(kwh,kvah) VALUES\t('\"+test+\"','\"+test2+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":460,"wires":[[]]},{"id":"4665dd16.824bb4","type":"ui_gauge","z":"4914f75c.920ce8","name":"","group":"cbbd3300.c8b15","order":4,"width":"2","height":"2","gtype":"gage","title":"Phase R","label":" Volts","format":"{{msg.payload | number:2}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1240,"wires":[]},{"id":"7d43dc9f.c284f4","type":"ui_gauge","z":"4914f75c.920ce8","name":"","group":"cbbd3300.c8b15","order":6,"width":"2","height":"2","gtype":"gage","title":"Phase Y","label":" Volts","format":"{{msg.payload | number:2}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1320,"wires":[]},{"id":"74825a9f.d40ad4","type":"ui_gauge","z":"4914f75c.920ce8","name":"","group":"cbbd3300.c8b15","order":5,"width":"2","height":"2","gtype":"gage","title":"Phase B","label":" Volts","format":"{{msg.payload | number:2}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1280,"wires":[]},{"id":"1475543c.55382c","type":"switch","z":"4914f75c.920ce8","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":470,"y":1280,"wires":[["3b7dbacc.0c3946"],["3b7dbacc.0c3946"],["6b227c95.eaf314"],["6b227c95.eaf314"],["824017a4.bdb398"],["824017a4.bdb398"]]},{"id":"35fc32aa.e01cae","type":"split","z":"4914f75c.920ce8","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":270,"y":1300,"wires":[["1475543c.55382c"]]},{"id":"6b227c95.eaf314","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1280,"wires":[["b73e7669.a02ee8"]]},{"id":"3b7dbacc.0c3946","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1240,"wires":[["22ab757f.3f174a"]]},{"id":"824017a4.bdb398","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1320,"wires":[["e899ecfa.30b02"]]},{"id":"249fa53c.200a2a","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":8,"width":"6","height":"1","name":"","label":"Power Factor","format":"{{msg.payload | number:2}}    ","layout":"row-spread","x":990,"y":1440,"wires":[]},{"id":"a49d4604.e0b2a8","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":9,"width":0,"height":0,"name":"","label":"Active Power","format":"{{msg.payload | number:2}} kW","layout":"row-spread","x":990,"y":1500,"wires":[]},{"id":"16c87d2e.7ef3f3","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":10,"width":0,"height":0,"name":"","label":"Apparent Power","format":"{{msg.payload | number:2}}  kVA","layout":"row-spread","x":1000,"y":1560,"wires":[]},{"id":"427dd5e1.0ef1ec","type":"function","z":"4914f75c.920ce8","name":"Amp_R","func":"const a =  msg.payload;\nconst a1 = (a[0] >> 8) & 255;\nconst a2 = a[0] & 255;\nconst a3 = (a[1] >> 8) & 255;\nconst a4 = a[1] & 255;\nconst buf = Buffer.from([a1,a2,a3,a4]);\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1100,"wires":[["b80c6f1a.fe37"]]},{"id":"54117001.f5d39","type":"function","z":"4914f75c.920ce8","name":"Amp_Y","func":"const a =  msg.payload;\nconst a1 = (a[0] >> 8) & 255;\nconst a2 = a[0] & 255;\nconst a3 = (a[1] >> 8) & 255;\nconst a4 = a[1] & 255;\nconst buf = Buffer.from([a1,a2,a3,a4]);\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1140,"wires":[["3ebed443.ec7fbc"]]},{"id":"8e63f530.9053e8","type":"function","z":"4914f75c.920ce8","name":"Amp_B","func":"const a =  msg.payload;\nconst a1 = (a[0] >> 8) & 255;\nconst a2 = a[0] & 255;\nconst a3 = (a[1] >> 8) & 255;\nconst a4 = a[1] & 255;\nconst buf = Buffer.from([a1,a2,a3,a4]);\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1180,"wires":[["a7272bac.4a8a68"]]},{"id":"519ab518.7f1fbc","type":"switch","z":"4914f75c.920ce8","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":470,"y":1140,"wires":[["a8d8d32e.afbfd"],["a8d8d32e.afbfd"],["d618ccdd.06ba7"],["d618ccdd.06ba7"],["ff84f102.8a1e8"],["ff84f102.8a1e8"]]},{"id":"e9ec4c6c.40daf","type":"split","z":"4914f75c.920ce8","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":270,"y":1160,"wires":[["519ab518.7f1fbc"]]},{"id":"d618ccdd.06ba7","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1140,"wires":[["54117001.f5d39"]]},{"id":"a8d8d32e.afbfd","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1100,"wires":[["427dd5e1.0ef1ec"]]},{"id":"ff84f102.8a1e8","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1180,"wires":[["8e63f530.9053e8"]]},{"id":"cad3a53b.548558","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":11,"width":0,"height":0,"name":"","label":"Reactive Power","format":"{{msg.payload | number:2}} kVAR","layout":"row-spread","x":1000,"y":1620,"wires":[]},{"id":"b80c6f1a.fe37","type":"ui_gauge","z":"4914f75c.920ce8","name":"","group":"cbbd3300.c8b15","order":1,"width":"2","height":"2","gtype":"gage","title":"Phase R","label":" Ampere","format":"{{msg.payload | number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1100,"wires":[]},{"id":"a7272bac.4a8a68","type":"ui_gauge","z":"4914f75c.920ce8","name":"","group":"cbbd3300.c8b15","order":2,"width":"2","height":"2","gtype":"gage","title":"Phase B","label":" Ampere","format":"{{msg.payload | number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1140,"wires":[]},{"id":"3ebed443.ec7fbc","type":"ui_gauge","z":"4914f75c.920ce8","name":"","group":"cbbd3300.c8b15","order":3,"width":"2","height":"2","gtype":"gage","title":"Phase Y","label":" Ampere","format":"{{msg.payload | number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1180,"wires":[]},{"id":"a199f8c0.9bb768","type":"debug","z":"4914f75c.920ce8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":440,"wires":[]},{"id":"620bee79.f5ae2","type":"function","z":"4914f75c.920ce8","name":"To Mysql","func":"var test;\nvar test2;\ntest= msg.payload[0]\ntest2=msg.payload[1]\nmsg.topic=\"INSERT INTO kWh(watthr,kVah) VALUES('\"+test+\"','\"+test2+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["d380d327.9f698","a199f8c0.9bb768"]]},{"id":"b5647704.d96b28","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3191) PF","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3191","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":260,"y":1440,"wires":[[],["9099606c.7f922"]]},{"id":"13f551e8.5f722e","type":"inject","z":"4914f75c.920ce8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1420,"wires":[["b5647704.d96b28","a5b5bc4e.0de2e","de163c01.d05b","adf15c1b.60b86","a13ef461.345d88","a4f5c5f6.ffeb48","ce643b76.560528"]]},{"id":"9099606c.7f922","type":"function","z":"4914f75c.920ce8","name":"PF","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1440,"wires":[["249fa53c.200a2a"]]},{"id":"a5b5bc4e.0de2e","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3059) kW","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3059","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":260,"y":1500,"wires":[[],["a0a10f2b.7af25"]]},{"id":"a0a10f2b.7af25","type":"function","z":"4914f75c.920ce8","name":"kW","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1500,"wires":[["a49d4604.e0b2a8"]]},{"id":"7e6064f7.6b49fc","type":"function","z":"4914f75c.920ce8","name":"kVA","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1560,"wires":[["16c87d2e.7ef3f3"]]},{"id":"de163c01.d05b","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3075) kVA","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3075","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":260,"y":1560,"wires":[[],["7e6064f7.6b49fc"]]},{"id":"adf15c1b.60b86","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3067) kVAR","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3067","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":270,"y":1620,"wires":[[],["3ca52e9f.484982"]]},{"id":"3ca52e9f.484982","type":"function","z":"4914f75c.920ce8","name":"kVAR","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1620,"wires":[["cad3a53b.548558"]]},{"id":"a13ef461.345d88","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3027) Voltage","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3027","quantity":"6","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":260,"y":1240,"wires":[["35fc32aa.e01cae"],[]]},{"id":"22ab757f.3f174a","type":"function","z":"4914f75c.920ce8","name":"volt_R","func":"const a =  msg.payload;\nconst a1 = (a[0] >> 8) & 255;\nconst a2 = a[0] & 255;\nconst a3 = (a[1] >> 8) & 255;\nconst a4 = a[1] & 255;\nconst buf = Buffer.from([a1,a2,a3,a4]);\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1240,"wires":[["4665dd16.824bb4"]]},{"id":"b73e7669.a02ee8","type":"function","z":"4914f75c.920ce8","name":"volt_Y","func":"const a =  msg.payload;\nconst a1 = (a[0] >> 8) & 255;\nconst a2 = a[0] & 255;\nconst a3 = (a[1] >> 8) & 255;\nconst a4 = a[1] & 255;\nconst buf = Buffer.from([a1,a2,a3,a4]);\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1280,"wires":[["7d43dc9f.c284f4"]]},{"id":"e899ecfa.30b02","type":"function","z":"4914f75c.920ce8","name":"volt_B","func":"const a =  msg.payload;\nconst a1 = (a[0] >> 8) & 255;\nconst a2 = a[0] & 255;\nconst a3 = (a[1] >> 8) & 255;\nconst a4 = a[1] & 255;\nconst buf = Buffer.from([a1,a2,a3,a4]);\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1320,"wires":[["74825a9f.d40ad4"]]},{"id":"a4f5c5f6.ffeb48","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (2999) Ampere","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"2999","quantity":"6","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":260,"y":1100,"wires":[["e9ec4c6c.40daf"],[]]},{"id":"2906e6cb.acccca","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":7,"width":"6","height":"1","name":"","label":"Frequency","format":"{{msg.payload | number:3}} Hz","layout":"row-spread","x":990,"y":1380,"wires":[]},{"id":"5c70d3a3.aafbfc","type":"function","z":"4914f75c.920ce8","name":"Freq","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1380,"wires":[["2906e6cb.acccca"]]},{"id":"ce643b76.560528","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3109) Freq","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3109","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":270,"y":1380,"wires":[[],["5c70d3a3.aafbfc"]]},{"id":"21e81f68.d794f","type":"debug","z":"4914f75c.920ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":1040,"wires":[]},{"id":"a6d4a67e.923b98","type":"inject","z":"4914f75c.920ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":940,"wires":[[]]},{"id":"e181fb17.1e76f8","type":"function","z":"4914f75c.920ce8","name":"to data","func":"var mc_id = 34.5;\nmsg.topic=\"Insert Into stg_IoT_FrequentData(MachineSerialNumber,ReadingTimeStamp,Amp_PhaseR,Amp_PhaseB,Amp_PhaseY,Volt_PhaseR,Volt_PhaseB,Volt_PhaseY,Hz_Frequency,PowerFactor,kw_ActivePower,kva_ApparentPower,kvar_ReactivePower)Values('123','2020-06-08 10:00 AM',15.63,13.70,14.86,233.30,236.37,233.31,50.039,0.92,9.55,10.35,3.93)\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1760,"wires":[[]]},{"id":"e4a85d3b.4445c","type":"sort","z":"4914f75c.920ce8","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"payload","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":580,"y":1760,"wires":[[]]},{"id":"a5feeb1d.2cb898","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":13,"width":0,"height":0,"name":"","label":"kVAh","format":"{{msg.payload | number}} kVAh","layout":"row-spread","x":650,"y":760,"wires":[]},{"id":"608bc195.a7da","type":"debug","z":"4914f75c.920ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":640,"wires":[]},{"id":"e78aad6b.b0a1c","type":"inject","z":"4914f75c.920ce8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["2998cbfa.9526f4","b6c409c5.c9f678","1e2a58d.174b5a7"]]},{"id":"2998cbfa.9526f4","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (2716) kVAh","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"2715","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":760,"wires":[[],["f2592d8d.ba6ef"]]},{"id":"b6c409c5.c9f678","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (2700) kWh","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"2699","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":700,"wires":[[],["4da5cf06.2668e"]]},{"id":"ff14d46.2b61e28","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":12,"width":0,"height":0,"name":"","label":"kWh","format":"{{msg.payload | number}} kWh","layout":"row-spread","x":650,"y":700,"wires":[]},{"id":"4da5cf06.2668e","type":"function","z":"4914f75c.920ce8","name":"kWh","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nmsg.topic = 'kWh';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["608bc195.a7da","ff14d46.2b61e28","f03c550e.b7c608"]]},{"id":"f2592d8d.ba6ef","type":"function","z":"4914f75c.920ce8","name":"kVAh","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nmsg.topic = 'kVAh';\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["a5feeb1d.2cb898","f03c550e.b7c608"]]},{"id":"6c4c09ab.6bbd68","type":"ui_text","z":"4914f75c.920ce8","group":"cbbd3300.c8b15","order":13,"width":0,"height":0,"name":"","label":"Peak Demand","format":"{{msg.payload | number}} kW","layout":"row-spread","x":680,"y":820,"wires":[]},{"id":"1e2a58d.174b5a7","type":"modbus-getter","z":"4914f75c.920ce8","name":"FC 3  (3770) kW","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3769","quantity":"2","server":"26273993.f64d56","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":280,"y":820,"wires":[[],["aecee187.1228"]]},{"id":"aecee187.1228","type":"function","z":"4914f75c.920ce8","name":"PeakLoad","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":820,"wires":[["6c4c09ab.6bbd68"]]},{"id":"2d9d713e.4cb7fe","type":"MSSQL","z":"4914f75c.920ce8","mssqlCN":"91006c52.f67e1","name":"Insert Sample Data","query":"","outField":"payload","returnType":0,"throwErrors":1,"x":950,"y":580,"wires":[[]]},{"id":"3a5f3826.ab7dc8","type":"MSSQL","z":"4914f75c.920ce8","mssqlCN":"91006c52.f67e1","name":"Insert Sample Data","query":"Declare @Amp_PhaseR VARCHAR(100)\nDeclare @Amp_PhaseB VARCHAR(100)\nDeclare @Amp_PhaseY VARCHAR(100)\nDeclare @Volt_PhaseR VARCHAR(100)\nDeclare @Volt_PhaseB VARCHAR(100)\nDeclare @Volt_PhaseY VARCHAR(100)\nDeclare @Hz_Frequency VARCHAR(100)\nDeclare @PowerFactor VARCHAR(100)\nDeclare @kw_ActivePower VARCHAR(100)\nDeclare @kva_ApparentPower VARCHAR(100)\nDeclare @kvar_ReactivePower VARCHAR(100)\n\nSET @Amp_PhaseR = '{{{Amp_R}}}';\nSET @Amp_PhaseB = '{{{Amp_B}}}';\nSET @Amp_PhaseY = '{{{Amp_Y}}}';\nSET @Volt_PhaseR = '{{{volt_R}}}';\nSET @Volt_PhaseB = '{{{volt_B}}}';\nSET @Volt_PhaseY = '{{{volt_Y}}}';\nSET @Hz_Frequency = '{{{Freq}}}';\nSET @PowerFactor = '{{{PF}}}';\nSET @kw_ActivePower = '{{{kW}}}';\nSET @kva_ApparentPower = '{{{KVA}}}';\nSET @kvar_ReactivePower = '{{{kVAR}}}';\n\n\nInsert Into stg_IoT_FrequentData\n(\n\tMachineSerialNumber,\n\tReadingTimeStamp,\n\tAmp_PhaseR,\n\tAmp_PhaseB,\n\tAmp_PhaseY,\n\tVolt_PhaseR,\n\tVolt_PhaseB,\n\tVolt_PhaseY,\n\tHz_Frequency,\n\tPowerFactor, \n\tkw_ActivePower, \n\tkva_ApparentPower,\n\tkvar_ReactivePower\n)\nValues\n(\n\t'Machine Number',\n\tCURRENT_TIMESTAMP,\n\t@Amp_PhaseR,\n\t@Amp_PhaseB,\n\t@Amp_PhaseY,\n\t@Volt_PhaseR,\n\t@Volt_PhaseB,\n\t@Volt_PhaseY,\n\t@Hz_Frequency,\n\t@PowerFactor,\n\t@kw_ActivePower,\n\t@kva_ApparentPower,\n\t@kvar_ReactivePower\n\n)\n","outField":"payload","returnType":0,"throwErrors":1,"x":1330,"y":1340,"wires":[[]]},{"id":"d380d327.9f698","type":"mysql","z":"4914f75c.920ce8","mydb":"3ad23060.c3831","name":"to database","x":790,"y":360,"wires":[[]]},{"id":"f03c550e.b7c608","type":"join","z":"4914f75c.920ce8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":500,"wires":[["9903755.5f48588","620bee79.f5ae2","72bc65a0.6a184c"]]},{"id":"36ef5944.8efe56","type":"Azure SQL","z":"4914f75c.920ce8","name":"Azure SQL","x":170,"y":420,"wires":[[]]},{"id":"72bc65a0.6a184c","type":"function","z":"4914f75c.920ce8","name":"Rik-data","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\nkwh = msg.payload[0];\nkvah = msg.payload[1];\nmachine = \"abc\";\n\npld =       \"INSERT INTO [dbo].[stg_IoT_HourlyData] \"\npld = pld + \"(machineserialnumber,kwh,kvah,ReadingTimestamp) \"\npld = pld + \"VALUES ('\" +  machine + \"','\" +  kwh + \"', '\" +  kvah + \"', '\" + dformat + \"')\"\n\nmsg.topic = ''\nmsg.payload = pld\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":580,"wires":[["2d9d713e.4cb7fe"]]},{"id":"cbbd3300.c8b15","type":"ui_group","z":"","name":"Meter","tab":"d1fa39a4.f10568","order":1,"disp":true,"width":"6","collapse":false},{"id":"26273993.f64d56","type":"modbus-client","z":"","name":"meter rs485","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"38400","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":7,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"91006c52.f67e1","type":"MSSQL-CN","z":"","tdsVersion":"7_4","name":"Azure SQL - IoT","server":"PeryTUS-azuresql.database.windows.net","port":"1433","encyption":true,"database":"IoT_Sukrit","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false},{"id":"3ad23060.c3831","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"Energy_data2","tz":""},{"id":"d1fa39a4.f10568","type":"ui_tab","z":"","name":"Sukrit Energy Monitoring","icon":"dashboard","order":1,"disabled":false,"hidden":false}]